<section class="topnav">
  <%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant), method: :get %>
</section>
<section class="headers">
<h1>Upcoming Holidays:</h1>
</section>
  <% @holidays.each do |holiday| %>
<section class="github-stats">
  <%= holiday.name %>:<br>
  <%= holiday.date %><br>
</section>
<% end %>

<% @bulk_discounts.each do |discount| %>
<div id="bulk_discount-<%= discount.id %>">
  <section class="github-stats">
    <h2>Discount Number: <%= discount.id %></h2>
    <%= discount.percentage_discount %><br>
    <%= discount.threshold %><br>
  </section>
  <%= link_to "View This Discount", merchant_bulk_discount_path(@merchant, discount), method: :get %><br>
  <%= link_to "Remove This Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
</div>
<% end %>